$snippetLightBlue: #1292ee;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  color: white;
  overflow-x: hidden;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#heroW {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 89vh;
}

#title {
  font-family: "snippet";
  font-size: 72px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#text {
  font-family: "snippet";
  font-size: 20px;
  width: 690px;
  margin-bottom: 70px;
  line-height: 1.5;
  font-weight: 0101022020;
}

.btns {
  font-family: "snippet";
  width: 140px;
  height: 50px;
}

#btn1 {
  background-color: $snippetLightBlue;
  border: none;
  color: white;
  &:hover {
    background-color: black;
  }
}
#btn2 {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-left: 10px;
  &:hover {
    background-color: $snippetLightBlue;
  }
}
@media (min-width: 1199px) {
  #hero {
    margin-right: 290px;
    margin-top: 20px;
  }
}
@media (max-width: 1199px) {
  #hero {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  #title {
    font-size: 47px !important;
  }
  #text {
    width: 450px !important;
  }
}
@media (max-width: 450px) {
  #heroW {
    height: 87vh;
  }
  #hero {
    margin-bottom: 30px !important;
    margin-left: 20px;
  }
  #btnsW {
    margin-left: 20px;
  }
  #title {
    font-size: 38px !important;
    margin-bottom: 20px !important;
  }
  #text {
    font-size: 16px !important;
    width: 350px !important;
    margin-bottom: 30px !important;
  }
}

@media (min-height: 1200px) {
  #heroW {
    height: 55vh !important;
  }
  #hero {
    margin-left: 40px;
  }
  .container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }
  #btnsW {
    margin-left: 38px;
  }
}
@media (min-width: 1400px) {
  #heroW {
    width: 82vw;
  }
  #hero {
    margin-top: 90px;
  }
}
