$snippetGrey: #9491a9;
$snippetBlack: #030f27;
$snippetLightBlue: #1292ee;
#sectionW {
  height: 90vh;
  padding-top: 80px;
}
#textW {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $snippetBlack;
  font-family: "snippet";
  font-size: 42px;
  margin-top: 20px;
}

.text {
  color: $snippetGrey;
  font-family: "snippet";
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.4;
}

#div2W {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#imgs {
  display: flex;
}

.Img {
  width: 360px;
  border-radius: 6px;
  box-shadow: -3px 5px 5px #dfdfdf;
}
#titleMini {
  color: $snippetGrey;
  font-family: "snippet";
  font-size: 18px;
  &::before {
    content: "";
    width: 70px;
    display: inline-block;
    border-bottom: 2px solid $snippetLightBlue;
    border-radius: 6px;
    margin-right: 8px;
  }
}

#btn3 {
  background-color: $snippetLightBlue;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  margin-top: 30px;
  font-size: 16px;
  border: none;
  color: white;
  &:hover {
    background-color: black;
  }
}

#text2 {
  margin-bottom: 30px;
  position: relative;
  bottom: 70px;
  left: 20px;
}

@media (max-width: 500px) {
  #textW {
    text-align: center;
  }
  #title1 {
    font-size: 27px;
    width: 400px;
    margin-left: 50px;
  }
  .text {
    font-size: 16px;
    margin-left: 80px;
    width: 90vw;
  }
  #div2W {
    margin-top: 100px;
  }
  .Img {
    width: 200px;
  }
  #imgs {
    margin-left: 42px;
  }
  #div2W {
    flex-wrap: wrap;
  }
  #text2 {
    margin-top: 100px;
  }
  #p2 {
    margin-left: 50px !important;
  }
  #titleMini {
    font-size: 16px;
    margin-left: 50px;
  }
  #title2 {
    font-size: 25px !important;
    width: 300px !important;
    margin-left: 50px;
  }
  #btn3 {
    margin-left: 50px;
  }
}

@media (min-height: 1300px) {
  #div2W {
    flex-wrap: wrap;
  }
  #text2 {
    margin-top: 160px;
  }
}
